
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/" class="navbar-brand"> <i class="far fa-newspaper"> </i> Articles Home  </a>
{{/*  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>*/}}
  <ul class="navbar-nav me-кшп mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Account
        </a>
        <ul class="dropdown-menu ml-auto" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/user/signin">Sign in</a></li>
          <li><a class="dropdown-item" href="/user/signup">Sign up</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/about">About</a></li>
        </ul>
      </li>
  </ul>

</nav>

